$main-color: blanchedalmond;
$color-2: #af7474;
$color-3: #c8f9fd;
$footer-header: #fadfb8;
$button-hover: #875a5a;
$color-2-light: #b49f9f;
@import './custom-radio-checkbox.scss';
@import './loader.scss';

* {
  font-family: 'Roboto';
}

body {
  margin: 0px;
  height: 100%;
}

.app {
  background-color: $main-color;

}
a{
  text-decoration: none;
  color: black;
}

.material-icons {
  cursor: pointer;
}

.header {
  background-color: $footer-header;
  padding-bottom: 20px;
  padding-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  .buttons {
    min-width: 250px;
    display: flex;
    justify-content: center;

    @media (max-width:670px) {
      min-width: auto;
    }

    a {
      text-decoration: none;
    }
  }

  .logo {
    margin-top: 5px;
  }

  .material-icons {
    display: flex;
    margin: 5px 5px 0px 5px;
    padding: 5px;
    border-radius: 10px;
    font-size: 48px;
    color: black;
    transition-duration: 350ms;
    // transition: width 2s, height 2s, background-color 2s, transform 2s;
  }

  .icons-hover {
    display: flex;
    font-size: 0px;
    align-items: center;
    text-decoration: none;
    transition-duration: 350ms;
  }

  .material-icons:hover {
    background-color: white;

    @media (min-width:670px) {
      .icons-hover {
        font-size: 18px;
      }
    }
  }

  @media (max-width:450px) {
    .material-icons {
      font-size: 32px;
      margin: 10px 5px 0px 5px;
    }

    .logo {
      max-width: 130px;
    }
  }
}

.choose-form {
  input:focus {
    font-size: 32px;
    // background-color: $color-2-light;
    // box-shadow: 0 5px 0px $color-2-light;
  }
}

.form {
  position: relative;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;


  input {
    margin-bottom: 10px;
    font-size: 30px;
    text-align: center;
    border-radius: 10px;
    transition-duration: 350ms;
    border: 0px;

  }


  button {
    font-size: 30px;
    text-align: center;
    border-radius: 10px;
    background-color: $color-2;
    color: $main-color;
    border: 0px;
    height: 50px;
    transition-duration: 250ms;
    min-width: 250px;
  }

  button:hover {
    background-color: $button-hover;
  }

}

.no-data {
  margin-top: 70px;
}

.table-page {
  min-height: calc(100vh - 172px);
}

.shops {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .chosen {
    background-color: #1ecc1e !important;
  }

  .filled {
    background-color: #c1c3c5 !important;
  }

  .shop {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    background-color: $color-3;
    width: 200px;
    text-align: center;
    transition-duration: 200ms;

    @media (max-width:500px) {
      width: 150px;
    }

    @media (max-width:390px) {
      width: 100px;
      font-size: 12px;
    }

    button {
      width: 100%;
      background-color: $color-2;
      color: $main-color;
      border: 0px;
      border-radius: 5px;
      text-align: center;
    }

    button:hover {
      background-color: $button-hover;
    }

    // .imhere {
    //   width: 100%;
    //   text-align: center;
    //   background-color: rgb(30, 204, 30);
    //   color: white;
    //   border-radius: 5px;
    // }
  }


}

.settings {
  display: flex;
  flex-direction: column;

  h1,
  h2 {
    text-align: center;
    font-weight: 400;
  }



  @media (max-width:700px) {
    .buttons {
      width: 90% !important;
    }

    h1 {
      font-size: 25px;
    }

    h2 {
      font-size: 20px;
    }
  }

  .set-new-json {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $main-color;

    .format {
      font-size: 20px;
      cursor: pointer;
      text-align: right;
      width: 100%;
      margin-bottom: 3%;

      .material-icons {
        font-size: 15px;
      }
    }

    .buttons {
      width: 600px;
      display: flex;
      flex-direction: column;
      align-items: center;

      label {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        height: 100px;
        background-color: $color-2;
        color: $main-color;
        font-size: 28px;
        margin: 3% 3% 0px 3%;
        cursor: pointer;
        transition-duration: 250ms;

        @media (max-width:700px) {
          height: 70px;
          font-size: 23px;
        }

        input {
          display: none;
        }
      }

      label:hover {
        background-color: $button-hover;
      }
    }
  }

  .JSONSettings {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    @media (min-width:700px) {
      td {
        min-width: 125px;
      }
    }

    @media (max-width:700px) {
      table {
        font-size: 70%;
      }

      .user-field-input,
      .user-input {
        width: 25% !important;
      }

      select,
      .user-type {
        width: 15% !important;
      }

      .user-field-button,
      .user-button {
        font-size: 10px;
        width: 15% !important;
        height: 20px;
      }
    }

    @media (max-width:420px) {
      table {
        font-size: 55%;
      }
    }

    input {
      border: 1px solid $color-2;
      border-radius: 5px;
      font-weight: bold;
    }

    .fields {
      font-size: 16px;
    }

    .user-fields {
      margin-top: 30px;

      input {
        margin-left: 10px;
      }

      .user-fields-added {
        margin-top: 10px;
        margin-left: 5px;
        display: flex;
        // flex-direction: row;
        justify-content: center;
        text-align: left;

        .user-input {
          width: 156px;
          margin-left: 10px;
        }

        .user-type {
          width: 80px;
          margin-left: 10px;
        }

        .user-button {
          width: 75px;
          margin-left: 10px;
          cursor: pointer;
          color: $main-color;
        }
      }

      select {
        margin-left: 10px;
        border: 1px solid $color-2;
        border-radius: 5px;
      }

      button {
        min-width: 75px;
        margin-left: 10px;
        background-color: $color-2;
        border: 1px solid $color-2;
        border-radius: 5px;
        cursor: pointer;
        color: $main-color;
        transition-duration: 250ms;
      }

      button:hover {
        background-color: $button-hover;
      }
    }

    .last-settings {
      display: flex;
      flex-direction: column;
      align-items: center;

      div {
        margin-top: 5px;
        width: 600px;
        display: flex;
        justify-content: space-between;

        @media (max-width:700px) {
          width: 90% !important;
          font-size: 15px;
          text-align: left;
        }
      }


    }

    .createNewTable {
      margin: 50px 0px 50px 0px;
      width: 600px;
      height: 100px;
      font-size: 25px;
      background-color: $color-2;
      border: 0px;
      border-radius: 10px;
      color: $main-color;
      transition-duration: 250ms;

      @media (max-width:700px) {
        width: 90% !important;
      }
    }

    .createNewTable:hover {
      background-color: $button-hover;
    }
  }
}

.top-panel {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 3;

  .material-icons {
    text-align: right;
  }

  .settings-panel {
    width: 600px;

    .download {
      width: 100%;
      height: 100px;
      font-size: 28px;
      border: 0px;
      background-color: $color-2;
      margin-bottom: 15px;
      border-radius: 10px;
      color: $main-color;
      transition-duration: 250ms;
    }

    .download:hover {
      background-color: $button-hover;
    }

    @media (max-width:700px) {
      width: 90%;
    }
  }

  @media (max-width:900px) {
    flex-direction: column;
    align-items: center;

    .material-icons {
      text-align: left;
    }
  }
}

.container {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  min-height: calc(100vh - 192px);

  .authefication {
    display: flex;
    justify-content: center;
    width: 70%;

    .banner {
      width: 60%;
      background-color: $color-3;
      border-radius: 15px;
      height: 550px;
    }

    .data {
      display: flex;
      flex-direction: column;
      align-items: center;

      .form {
        input {
          border: 0px;

        }

        button {
          width: 100%;
          background-color: $color-2;
          color: $main-color;
          border: 0px;
          height: 50px;
          transition-duration: 250ms;
        }

        button:hover {
          background-color: $button-hover;
        }

        @media (max-width:1200px) {
          padding: 100px 30px 100px 30px;
        }

        @media (max-width:800px) {
          input {
            font-size: 23px;
          }

          button {
            height: 30px;
            font-size: 23px;
          }
        }

      }
    }

    .logo {
      padding-top: 30px;
    }

    @media (max-width:1200px) {
      width: 80%;
    }

    @media (max-width: 800px) {
      width: 90%;
    }

    @media (max-width: 650px) {
      .banner {
        display: none;
      }
    }
  }

}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  // min-height: 30vh;
  min-height: calc(100vh - 172px);

  .new-table-href {
    margin-bottom: 50px;
  }

  .tables {
    width: 60%;
    transition-duration: 1s;

    .table {
      border: 2px $button-hover solid;
      border-radius: 10px;
      background-color: white;
      padding: 5px;
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      @media (max-width:1000px) {
        flex-direction: column;
        align-items: flex-start;

        .table-right {
          width: 100%;
        }
      }

      a {
        text-decoration: none;
        color: black;
      }

      .material-icons {
        background-color: white;
        transition-duration: 250ms;
      }

      .material-icons:hover {
        font-size: 30px;
      }

      .table-right {
        text-align: right;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        input {
          border: 0px;
          font-size: 15px;
          width: 300px;

          @media (max-width:450px) {
            width: 80%;
          }

          @media (max-width:375px) {
            width: 70%;
          }
        }

        button {
          border: 0px;
          background-color: white;
        }
      }
    }
  }
}

.new-table {
  margin-top: 50px;
  text-decoration: none;
  color: $main-color;
  display: flex;
  justify-content: center;
  width: 100%;
  

  div {
    display: flex;
    justify-content: center;
    font-size: 28px;
    border-radius: 10px;
    align-items: center;
    width: 600px;
    height: 100px;
    background-color: $color-2;
    transition-duration: 250ms;

    @media (max-width:1000px) {
      width: 60%;
      height: 75px;
    }

    @media (max-width:500px) {
      font-size: 20px;
    }

    @media (max-width:370px) {
      font-size: 15px;
      height: 50px;
    }
  }

  div:hover {
    background-color: $button-hover;
  }
}

.main-page {
  margin-left: 15%;
  margin-right: 15%;
  text-align: center;

  h1 {
    font-size: 35px;
    margin-bottom: 30px;
  }

  @media (max-width:1200px) {
    margin-left: 10%;
    margin-right: 10%;

    h1 {
      font-size: 32px;
    }
  }

  @media (max-width:500px) {
    margin-left: 5%;
    margin-right: 5%;

    h1 {
      font-size: 28px;
    }

  }



  h2 {
    font-weight: 500;
  }

  .main-banner {
    margin-top: 50px;
    margin-bottom: 70px;
    border-radius: 20px;

    img {
      border: 6px white solid;
      border-radius: 20px;
      width: 100%;
    }
  }

  .how-to {
    margin-bottom: 120px;

    .buttons {
      display: flex;
      justify-content: space-around;

      .new-table {
        width: 50%;

        div {
          font-size: 23px;
          width: 300px;
          height: 75px;

          @media (max-width:1000px) {
            width: 90%;
            height: 50px;
          }

          @media (max-width:500px) {
            font-size: 18px;
          }

          @media (max-width:370px) {
            font-size: 13px;
            height: 40px;
          }
        }

        div:hover {
          background-color: $button-hover;
        }
      }
    }

    .how-to-banners {
      display: flex;
      justify-content: space-around;

      img {
        margin-bottom: 50px;
        width: 25%;
      }

      @media (max-width:500px) {
        flex-direction: column;
        align-items: center;

        img {
          width: 70%;
        }
      }
    }
  }

  .safety {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .open-source {
      cursor: pointer;
    }

    img {
      margin-bottom: 50px;
      width: 25%;
    }

    @media (max-width:500px) {
      flex-direction: column;
      align-items: center;

      img {
        width: 70%;
      }
    }
  }
}

.footer {
  padding-top: 20px;
  padding-bottom: 20px;

  background-color: $footer-header;
  display: flex;
  justify-content: space-around;
  align-items: center;

  a {
    text-decoration: none;
    color: black;
  }

  div {
    transition-duration: 250ms;
    margin: 0px 5px 0px 5px;
    cursor: pointer;
  }

  div:hover {
    font-size: 20px;
  }

  img {
    width: 20%;
  }
}

.docs {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  a {
    text-decoration: none;
    color: black;
    transition-duration: 250ms;
  }

  a:hover {
    font-size: 20px;
  }

  .content {
    width: 100%;
    padding: 20px 0px 20px 0px;
    background-color: $footer-header;
    display: flex;
    justify-content: space-around;

    .chosen {
      font-size: 20px;
    }
  }

  .main {
    width: 60%;

    @media (max-width:1200px) {
      width: 70%;
    }

    @media (max-width:800px) {
      width: 80%;
    }

    @media (max-width:500px) {
      width: 90%;
    }

    display: flex;
    flex-direction: column;
    align-items: center;

    .picture {
      border: 6px white solid;
      border-radius: 20px;
      max-width: 90%;

      img {
        max-width: 100%;
      }
    }

    .description {
      text-align: left;

      li {
        font-size: 20px;
        font-weight: 700;
        margin-top: 10px;
      }
    }
  }

  .create {
    width: 60%;

    @media (max-width:1200px) {
      width: 70%;
    }

    @media (max-width:800px) {
      width: 80%;
    }

    @media (max-width:500px) {
      width: 90%;
    }

    display: flex;
    flex-direction: column;
    align-items: center;

    .steps {
      width: 100%;
      text-align: left;

      li {
        font-size: 20px;
        font-weight: 700;
        margin-top: 20px;
      }

      .formats {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        @media (max-width:750px){
          font-size: 13px;
        }
        .JSON {
          width: 50%;
          display: flex;
          flex-direction: row;
          div {
            margin: 50px 0px 0px 20px;
          }
          @media (max-width:750px) {
            flex-direction: column;
            div{
              margin: 50px 20px 0px 0px;  
            }
          }
          justify-content: flex-start;

          img {
            max-height: 300px;
            object-fit: contain;
          }

          
        }

        .Excel {
          width: 50%;
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          @media (max-width:750px){
            text-align: right;
          }
          img {
            width: 50%;
            object-fit: contain;
            @media (max-width:750px) {
              height: 300px;
              margin-bottom: 50px;
              width: 100%;
            }
          }
        }
      }
      .final-data{
        justify-content: space-between;
      }
      .settings {
        display: flex;
        flex-direction: row;
        .final-json{
          max-width: 30%;
        }
        img {
          max-width: 50%;
          object-fit: contain
        }
        @media (max-width:750px) {
          flex-direction: column-reverse;
          font-size: 12px;
          img{
            max-width: 100%;
          }
        }
        .text {
          div {
            margin-top: 10px;
          }
        }

        
      }
    }
  }
  .docs-button{
    color: $main-color;
    margin-bottom: 50px;
  }
}