$main-color: blanchedalmond;
$color-2: #af7474;
$color-3: #8bccd1;
$button-hover: #875a5a;
body{
  margin: 0px;
}
.app {
  background-color: $main-color;
}
.material-icons{
  cursor: pointer;
}

.header{
  padding-top:5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  .logo{
    margin-top: 5px;
  }
  .material-icons{
    margin: 10px 10px 0px 10px;
    font-size: 48px;
    color: black;
  }
  @media (max-width:450px) {
   .material-icons{
    font-size: 32px;
    margin: 10px 5px 0px 5px;
   } 
   .logo{
    max-width: 130px;
   }
  }
}

.form {
  padding: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;


  input {
    margin-bottom: 10px;
    font-size: 30px;
    text-align: center;
    border-radius: 10px;
  }

  button {
    font-size: 30px;
    text-align: center;
    border-radius: 10px;
    background-color: white;
  }

  button:hover {
    background-color: $button-hover;
  }

}


.shops {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  .chosen{
    background-color: rgb(30, 204, 30)!important;
  }
  .filled{
    background-color: rgb(193, 195, 197)!important;
  }
  .shop {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    background-color: aliceblue;
    width: 200px;
    text-align: center;

    button {
      width: 100%;
      background-color: white;
      border: 0px;
      border-radius: 5px;
      text-align: center;
    }

    button:hover {
      background-color: $button-hover;
    }
    
    // .imhere {
    //   width: 100%;
    //   text-align: center;
    //   background-color: rgb(30, 204, 30);
    //   color: white;
    //   border-radius: 5px;
    // }
  }


}

.settings {
  display: flex;
  flex-direction: column;

  // align-items: center;
  .downloadJSON {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: $main-color;
    button {
      margin: 3%;
      width: 40%;
      height: 100px;
      background-color: white;
      border: 0px;
      border-radius: 10px;
      font-size: 28px;
    }

    button:hover {
      background-color: $button-hover;
    }
  }

  .set-new-json {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $main-color;
    .format{
      font-size: 20px;
      .material-icons{
        font-size: 15px;
      }
    }
    h1{
      text-align: center;
    }
    .buttons {
      width: 600px;
      display: flex;
      flex-direction: column;
      align-items: center;
      @media (max-width:700px) {
        .buttons{
          width: 100%;
        }
      }
      .format{
        text-align: right;
        width: 100%;
        margin-bottom: 3%;
      }
      label {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        height: 100px;
        background-color: $color-2;
        color: $main-color;
        font-size: 28px;
        margin: 3% 3% 0px 3%;
        cursor: pointer;

        input {
          display: none;
        }
      }
      label:hover{
        background-color: $button-hover;
      }




    }
    .user-fields{
      margin-top: 30px;
      input{
        margin: 10px;
      }
      span{
        width: 170px;
      }
    }
    .last-settings{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}