.app {
  background-color: blanchedalmond;
}

.form {
  padding: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form input {
  margin-bottom: 10px;
  font-size: 30px;
  text-align: center;
  border-radius: 10px;
}
.form button {
  font-size: 30px;
  text-align: center;
  border-radius: 10px;
  background-color: white;
}
.form button:hover {
  background-color: rgb(196, 196, 196);
}

.shops {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.shops .shop {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 15px;
  padding: 10px;
  margin: 10px;
  background-color: aliceblue;
  width: 200px;
  text-align: center;
}
.shops .shop button {
  width: 100%;
  background-color: white;
  border: 0px;
  border-radius: 5px;
  text-align: center;
}
.shops .shop button:hover {
  background-color: rgb(218, 216, 216);
}
.shops .shop .imhere {
  width: 100%;
  text-align: center;
  background-color: rgb(30, 204, 30);
  color: white;
  border-radius: 5px;
}

.settings {
  display: flex;
}